# ipykernel
chainlit
ragas
rapidocr-onnxruntime
unstructured[pdf]
rank_bm25
faiss-cpu
transformers
sentence-transformers
streamlit
streamlit_date_picker
pandas
altair
plotly
gimme-aws-creds
psycopg[binary]>=3
psycopg2-binary 

langchain
langchain-chroma==0.2.0
langchain-community
langchain-core
langchain-huggingface
langchain-ollama
langchain-openai
langchain-text-splitters
langchain_aws

llama-index
llama-index-agent-openai
llama-index-core
llama-index-embeddings-azure-openai
llama-index-embeddings-huggingface
llama-index-embeddings-openai
llama-index-llms-azure-openai
llama-index-llms-huggingface
llama-index-llms-langchain
llama-index-llms-openai
llama-index-retrievers-bm25
llama-parse

rouge
sentencepiece
unstructured
pypdf
cachier==1.2.8
asyncpg
aiosqlite